#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.mapboxgl-popup {
    max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
.marker {

display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  #coordenadas {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 40%;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
font-family: Montserrat;
    text-align: center;
    color: #000;
    background: #D6EAF8;
}