<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="success">
  <!-- <h1 class="animated infinite bounce delay-2s">Example</h1> -->
  <div class="container"> 
    <img class="animated infinite fadeIn" src="../../../assets/icon/favicon.png" alt="">
    <h2 style="text-align: center;" class="animated infinite fadeIn"> ... </h2>
  </div>
</ion-content>
<!-- <ion-footer class="ion-no-border">
  <ion-toolbar  color="success">
    <h2 style="text-align: center;" class="animated infinite fadeIn"> ... </h2>
  </ion-toolbar>
</ion-footer> -->