
  <div class="container"> 
    <img src="../../../assets/img/logo.png"  width="60%" height="60%" alt="" style="margin-bottom: 20px;">
   
    <ng-lottie 
    class="ion-no-padding logoimagen" 
     [options]="options" 
     (animationCreated)="animationCreated($event)"
     ></ng-lottie>
  
   
     <div style="margin-top: 15px;">
       <ion-label style="color: gray;"> LIFT </ion-label>
     </div>
     <ion-grid>
      <ion-item lines="none" style="margin-top: 10px; padding-left: 10px;;" class="ion-no-padding">
        <ion-button color="gpm-success" (click)="login()" size="default" expand="full"
          style="width: 100%;" >
          CONTINUAR >>
        </ion-button>
      </ion-item>
     </ion-grid>
  
  </div>
