<form [formGroup]="formRespuesta" (ngSubmit)="_validarFormRespuesta()" *ngIf="ItemPregunta.IdPreguntaEncajonada=='Independiente'">
  <ion-item button (click)="_ocultar()">
    <ion-label><strong>{{ItemPregunta.Descripcion}}</strong></ion-label>
    <ion-buttons  slot="end">
      <ion-button color="gpm-success" >
        <ion-icon shape="round" slot="icon-only" [name]="_icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item lines="none" [hidden]="_ver" class="animated jello ">
    <ion-input formControlName="_descripcion" class="styletxt"  >  </ion-input>
    <ion-buttons  slot="end">
      <ion-button color="gpm-success" [disabled]="formRespuesta.invalid" type="submit">
        <ion-icon shape="round" slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</form>