<!-- <form [formGroup]="formRespuesta" (ngSubmit)="_validarFormRespuesta()" > -->
  <ion-list *ngIf="ItemPregunta.IdPreguntaEncajonada=='Independiente'" class="ion-no-padding">
  <ion-item button (click)="_ocultar()">
    <ion-label>{{ItemPregunta.Descripcion}}</ion-label>
    <ion-buttons  slot="end">
      <ion-button color="gpm-success" >
        <ion-icon shape="round" slot="icon-only" [name]="_icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item lines="none" [hidden]="_ver" class="animated jello ">
    <ion-input class="styletxt" [(ngModel)]="txtrespuesta" (ionBlur)="respuesta_insertarpreguntaabierta()" >  </ion-input>
    <!-- <ion-buttons  slot="end">
      <ion-button color="gpm-success" [disabled]="formRespuesta.invalid" type="submit">
        <ion-icon shape="round" slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-item>
</ion-list>
<!-- </form> -->