<ion-list *ngIf="ItemPregunta.IdPreguntaEncajonada=='Independiente'" class="ion-no-padding">
  <ion-item button (click)="_ocultar()">
    <ion-label>{{ItemPregunta.Descripcion}}</ion-label>
    <ion-buttons slot="end">
      <ion-button color="gpm-success">
        <ion-icon shape="round" slot="icon-only" [name]="_icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item lines="none" [hidden]="_ver" class="animated jello" *ngFor="let line of respuetaPreguntaAbierta">
    <ion-input value="{{line.DescripcionRespuestaAbierta}}" type="ItemPregunta.PreguntaAbierta.TipoDato.TipoHTML"
      class="styletxt" #q (ionBlur)="respuesta_insertarpreguntaabierta($event)">
    </ion-input>
  </ion-item>
</ion-list>