ion-title{
    font-size: 14px;
  }

  
  .capitalize{
    text-transform: lowercase;
  }
  .capitalize:first-letter{
    text-transform: uppercase;
  }
  .firstUppercase:first-letter{
    text-transform: uppercase;
  }