<ion-header>
  <ion-toolbar color="gpm-success">
    <ion-title style="text-align: center; font-size: 14px;">Roles de usuario</ion-title>
    <ion-buttons slot="end" fill="clear" >
      <ion-button (click)="cerrarSesion();"> 
        <ion-icon slot="icon-only"  color="gpm-success" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <img src="../../../assets/img/logo.png"  width="60%" height="60%" alt="" style="margin-bottom: 20px;">
    <ion-grid class="ion-no-padding">
      <ion-list  style="margin-right: 20px;">
        <ion-list-header>
          <ion-label color="success" style="text-align: center;">
            <h2> <strong> SELECCIONE UN ROL </strong> </h2>
          </ion-label>
          <hr>
        </ion-list-header>
        <div class="catalogo" button (click)="_escojerRol(item)" *ngFor="let item of tipoRol">
          <ion-icon style="font-size:30px;" [name]="item.TipoUsuario=='ADMINISTRADOR' ? 'key-outline' : 'build-outline'">
          </ion-icon>
          <div style="margin-top:15px;"> {{item.TipoUsuario}} </div>
        </div>
      </ion-list>
    </ion-grid>
  </div>
</ion-content>