<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-tabs >

  <ion-tab-bar color="light" slot="bottom">
    <ion-tab-button tab="cuestionarios-asignados">
      <ion-icon  name="send"></ion-icon>
      <ion-label>Cuestionarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
