<ion-header>
  <ion-toolbar color="gpm-success">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="search"></ion-back-button>
      </ion-buttons>
      <ion-title>Preguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let item of listComponents" style="width: auto; height: 60px">
      <ion-col (click)="mostarPreguntas(item)">
        <ion-chip color="success">
          <ion-label style="font-size: 12px !important;">{{item.Descripcion |uppercase}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-slide>
  </ion-slides>

  <div id="faq">
    <ul>
      <li *ngFor="let item of listaPreguntas">
        <input type="checkbox" checked>
        <i></i>
        <h2> {{ quitarRandom(item.Descripcion) }}</h2>
        <p style="width: 100%; height: auto ">
          <app-respuesta-abierta *ngIf="item.TipoPregunta.Identificador==1" [Item]="item"> </app-respuesta-abierta>
          <app-respuesta-seleccion-unica *ngIf="item.TipoPregunta.Identificador==2" [Item]="item"></app-respuesta-seleccion-unica>
          <app-respuesta-seleccion-unica *ngIf="item.TipoPregunta.Identificador==3" [Item]="item"></app-respuesta-seleccion-unica>
          <app-respuesta-matriz-abierta *ngIf="item.TipoPregunta.Identificador==6" [Item]="item"></app-respuesta-matriz-abierta>
          <app-respuesta-matriz-seleccion *ngIf="item.TipoPregunta.Identificador==4" [Item]="item"></app-respuesta-matriz-seleccion>
        </p>
      </li>
    </ul>
  
  </div>
</ion-content>
<app-tab></app-tab>