<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
    <ion-buttons slot="end">
      <ion-back-button defaultHref="validar-usuario"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="container">
    <img src="" height="40px !important" width="40px !important" alt="">
    <!-- <form *ngIf="ocultar==true" [formGroup]="formValidarCorreo" (ngSubmit)="_validarformValidarCorreo()">
      <ion-item>
        <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="_usuario" type="email"></ion-input>
      </ion-item>
      <ion-button expand="block"  color="primary" type="submit" [disabled]="formValidarCorreo.invalid">
        Siguiente
      </ion-button>
    </form> -->
    <form *ngIf="_ocultar==true" [formGroup]="formLogin" (ngSubmit)="_validarCredenciales()" >
      <ion-item hidden>
        <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="_usuario" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{formLogin.get('_usuario').value}} <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="_clave" type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" type="submit" [disabled]="formLogin.invalid">
        Login
      </ion-button>
    </form>
    <ion-list *ngIf="_ocultar==false">
      <ion-list-header>
        <ion-label>Escoja Un Rol</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of _misTiposUsuarios" button lines="none" (click)="_escojerRol(item)">
        <ion-label>{{item.TipoUsuario.Descripcion}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
