.container{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  ion-label{
    h2{
      color: green;
    }
  }
ion-input[required]{
    color : green ;
}
ion-list{
  ion-item:hover{
    --color: white;
    --background:var(--ion-color-gpm-success);
  }
}
.catalogo{
border: gray solid 1px;
  width: 43%; 
  height: 100px;
  margin-left: 15px; 
  float: left;
  margin-top: 15px;
  text-align: center;
  padding: 7px;
  font-size: 14px;;
  color:gray;
  cursor: pointer;
}
.catalogo:hover{
    border: brown solid 1px;
    background-color:brown ;
    width: 43%; 
    height: 100px;
    margin-left: 15px; 
    float: left;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
    font-size: 14px;;
    color:white;
    cursor: pointer;
  }