.container{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  ion-label{
    // --color: var(--ion-color-gpm-success);
    h2{
      color: green;
        // color: var(--ion-color-gpm-success);
    }
  }

ion-input[required]{
    color : green ;
}

ion-list{
  ion-item:hover{
    --color: white;
    --background:var(--ion-color-gpm-success);
  }
}