<ion-content  class="ion-no-padding">
  <div class="container">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/logo.png" alt="">
          <br><br><br><br>
          <form *ngIf="_ocultar==true" [formGroup]="formLogin" (ngSubmit)="_validarCredenciales()" >
            <ion-item hidden>
              <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required formControlName="_usuario" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{formLogin.get('_usuario').value}} <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required formControlName="_clave" type="password" autocomplete="off"></ion-input>
            </ion-item>
            <br><br><br>
            <ion-button expand="full" color="success" type="submit" [disabled]="formLogin.invalid">
              Login <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
            </ion-button>
          </form>
          <br>
          <ion-list *ngIf="_ocultar==false">
            <ion-list-header>
              <ion-label><h2> <strong> SELECCIONE UN ROL </strong> </h2></ion-label>
              <hr>
            </ion-list-header>
            <div  class="catalogo" button *ngFor="let item of _misTiposUsuarios" (click)="_escojerRol(item)">
              <ion-icon style="font-size:30px;" [name]="item.TipoUsuario.Descripcion=='ADMINISTRADOR' ? 'key-outline' : 'build-outline'"></ion-icon>
              <div style="margin-top:15px;"> {{item.TipoUsuario.Descripcion}} </div>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
