<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" fill="solid">
      <ion-button routerLink="../validar-usuario" class="ion-no-border">
        <ion-icon slot="icon-only" style="color: white !important;" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-no-padding">
  <div class="container">
    <ion-grid class="ion-no-padding">
      <ion-row style="margin-top: 50px;">
        <ion-col class="ion-align-self-center">
          <ion-row style="margin-left: 16px;">
            <ion-label style="font-size: 16px !important; color: white" position="stacked">{{correo}}</ion-label>
          </ion-row>
          <ion-item class="closed">
            <ion-input (ionChange)="valido($event)" [(ngModel)]="password" clearInput="true" placeholder="contraseña"
              type="password" focus="true" autocomplete="off"></ion-input>
          </ion-item>
          <ion-item class="ion-text-right">
            <ion-label style="margin-top:0px !important;margin-bottom:0px !important; height:auto !important">¿Has
              olvidado la contraseña?</ion-label>
          </ion-item>
          <ion-item>
            <ion-button [disabled]="esValido" (click)="_validarCredenciales()" size="default" expand="full"
              style="width: 100%;" class="ion-no-padding">
              Iniciar sesión
            </ion-button>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>