<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button routerLink="/roles" style="opacity: 10 !important;">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Roles</ion-label>
        </ion-tab-button>
        <ion-tab-button  routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label>Cuestionarios</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/mapa">
          <ion-icon name="map"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>