<ion-item button (click)="_ocultar()" *ngIf="ItemPregunta.IdPreguntaEncajonada=='Independiente'">
  <ion-label >{{ItemPregunta.Descripcion}}</ion-label>
  <ion-buttons  slot="end">
    <ion-button color="gpm-success"  type="submit"> <!--[disabled]="formRespuesta.invalid"-->
      <ion-icon shape="round" slot="icon-only" [name]="_icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-list [hidden]="_ver" class="animated jello " style="width: 100% !important;">
  <ion-radio-group #RadioGroupOpciones>
    <ion-item lines="none" *ngFor="let _item_opcion of _listaOpcionesPreguntaSeleccion">
      <ion-label>{{_item_opcion.Descripcion}}</ion-label>
      <ion-radio color="success" (click)="_guardarOpcion(_item_opcion.IdOpcionPreguntaSeleccionEncriptado,_item_opcion.Encajonamiento)" slot="start" [value]="_item_opcion.IdOpcionPreguntaSeleccionEncriptado"></ion-radio>
      <ion-grid>
        <ion-row [hidden]="isHidden" *ngIf="_item_opcion.Encajonamiento==1" class="align-vertical" >
          <ion-col size="2" style="text-align: center;" class="ion-text-wrap">
            <ion-label color="danger">{{preguntaEncajonada}}</ion-label>
          </ion-col>
          <ion-col size="10">
            <ion-input class="styletxt"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-radio-group>
</ion-list>