<ion-item button (click)="_ocultar()" *ngIf="ItemPregunta.IdPreguntaEncajonada=='Independiente'">
  <ion-label>{{ItemPregunta.Descripcion}}</ion-label>
  <ion-buttons slot="end">
    <ion-button color="gpm-success" type="submit">
      <ion-icon shape="round" slot="icon-only" [name]="_icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-list [hidden]="_ver" class="animated jello " style="width: 100% !important;">
  <ion-radio-group>
    <ion-item lines="none" *ngFor="let _item_opcion of _listaOpcionesPreguntaSeleccion; let i = index">
      <span>
        <ion-label class="ion-float-right" style="margin-left: 15px;">
          {{_item_opcion.DescripcionOpcionPreguntaSeleccion}}
        </ion-label>
        <input type="radio"  name="{{_item_opcion.IdPregunta}}" value=" "
          *ngIf="_item_opcion.IdOpcionPreguntaSeleccion == _item_opcion.IdRespuestaLogica"
          (click)="_guardarOpcion(_item_opcion.IdOpcionPreguntaSeleccion,_item_opcion.EncajonamientoOpcionPreguntaSeleccion, $event,i,_item_opcion.DescripcionOpcionPreguntaSeleccion)"
          checked>
        <input type="radio"   name="{{_item_opcion.IdPregunta}}" value=" "
          *ngIf="_item_opcion.IdOpcionPreguntaSeleccion != _item_opcion.IdRespuestaLogica"
          (click)="_guardarOpcion(_item_opcion.IdOpcionPreguntaSeleccion,_item_opcion.EncajonamientoOpcionPreguntaSeleccion, $event,i,_item_opcion.DescripcionOpcionPreguntaSeleccion)">
      </span>
      <ion-grid [hidden]="isHidden"
        *ngIf="_item_opcion.EncajonamientoOpcionPreguntaSeleccion==1 && _item_opcion.DescripcionRespuestaAbierta==null"
        class="align-vertical">
        <ion-row>
          <ion-col size="12" style="text-align: center;" class="ion-text-wrap">
            <ion-label color="danger">{{_item_opcion.DescripcionPreguntaHIja}} </ion-label>
            <ion-input clearInput="true" autofocus="true" class="styletxt" value=" "
              (ionBlur)="_guardarOpcion(_item_opcion.IdOpcionPreguntaSeleccion,_item_opcion.EncajonamientoOpcionPreguntaSeleccion, $event,i,_item_opcion.DescripcionOpcionPreguntaSeleccion)">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid [hidden]="isHidden2" 
        *ngIf="_item_opcion.DescripcionRespuestaAbierta !=null && _item_opcion.EncajonamientoOpcionPreguntaSeleccion==1"
        class="align-vertical">
        <ion-row>
          <ion-col size="12" style="text-align: center;" class="ion-text-wrap">
            <ion-label color="danger">{{_item_opcion.DescripcionPreguntaHIja}} </ion-label>
            <ion-input clearInput="true" autofocus="true" class="styletxt"
              [(ngModel)]="_item_opcion.DescripcionRespuestaAbierta"
              (ionBlur)="_guardarOpcion(_item_opcion.IdOpcionPreguntaSeleccion,_item_opcion.EncajonamientoOpcionPreguntaSeleccion, $event,i,_item_opcion.DescripcionOpcionPreguntaSeleccion)">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-radio-group>
</ion-list>