.catalogoDerecha{
    border: gray solid 1px;
      width: 43%; 
      height: 130px;
      margin-left: 5%; 
      float: left;
      margin-top: 20px;
      text-align: center;
      padding: 7px;
      font-size: 16px;;
      color:black;
      cursor: pointer;
      background-color:#FFF ;
      border: brown solid 1px;
    }
.catalogoIzquierda{
    border: gray solid 1px;
          width: 43%; 
          height: 130px;
          margin-right: 5%; 
          float: right;
          margin-top: 20px;
          text-align: center;
          padding: 7px;
          font-size: 16px;;
          color:black;
          cursor: pointer;
          background-color:#FFF ;
          border: brown solid 1px;
}
ion-content{
    --ion-background-color:#F9F9F9;
}
.colordark{
 background-color: #EFEFEF;
 border: #555555 solid 1px;
}

ion-title{
    text-align: center;
    font-size: 14px;
  }