<!-- <p>
  matriz works!
</p> -->
<ion-item button (click)="_ocultar()">
  <ion-label ><strong>{{ItemPregunta.Pregunta.Descripcion}}</strong></ion-label>
  <ion-buttons  slot="end">
    <ion-button color="gpm-success"  type="submit"> <!--[disabled]="formRespuesta.invalid"-->
      <ion-icon shape="round" slot="icon-only" [name]="_icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>

<ion-grid [hidden]="_ver" class="animated jello ">
  <ion-row>
    <ion-col size="12">
      <table class="table">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col" *ngFor="let columna of ColumnsOpcionDosMatriz">{{columna.Descripcion}}</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let fila of _matrizFinal">
            
            <th scope="row">{{fila.Fila.Descripcion}}</th>
            
            <td *ngFor="let celda of fila.ListaConfigurarMatriz2">
              <!-- <ion-radio [value]="celda.IdConfigurarMatrizEncriptado"></ion-radio> -->
              <!-- <input [value]="celda.IdConfigurarMatrizEncriptado" type="radio" name="" id=""> -->
             
              <input  class="form-check-input" 
                      type="radio" [checked]="celda.check" [value]="celda.radioButton.IdConfigurarMatrizEncriptado" 
                      (click)="_guardarOpcion(celda.radioButton.IdConfigurarMatrizEncriptado)"
                      >
              
            </td>

          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>



