<ion-header>
  <ion-toolbar color="gpm-success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuestionarios Asignados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list style="margin-right: 10px;">
    <ion-item  button (click)="prepararCuestionario(item)" [detail]="false" *ngFor="let item of _listaCuestionariosPublicadosAsignarEncuestado; let i = index">
      <div slot="start" class="dot dot-unread"></div>
      <ion-label class="ion-text-wrap">
        <h2>
          Cuestionario #{{i+1}}
          <span class="date">
            <ion-note> 
              Fecha de Inicio : {{item.FechaInicio | date: 'yyyy-MM-dd'}}
            </ion-note>
            <!-- <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon> -->
          </span>
        </h2>
        <h3>Cantón: {{item.Comunidad.Parroquia.Canton.NombreCanton}}  </h3>
        <h3>Parroquia : {{item.Comunidad.Parroquia.NombreParroquia}}</h3>
        <h3>Comunidad : {{item.Comunidad.Parroquia.NombreParroquia}}</h3>
        <p>
          Fecha de Fin : {{item.FechaFin | date: 'yyyy-MM-dd'}}
        </p>
      </ion-label>
      </ion-item>
  </ion-list>
 
  <!-- <ion-list>

    <ion-card (click)="prepararCuestionario(item)" button *ngFor="let item of _listaCuestionariosPublicadosAsignarEncuestado; let i = index">
      <ion-card-header>
        
        <ion-card-title> Cuestionario #{{i+1}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <strong> Cantón :    </strong> {{item.Comunidad.Parroquia.Canton.NombreCanton}} <br>
        <strong> Parroquia : </strong> {{item.Comunidad.Parroquia.NombreParroquia}} <br>
        <strong> Comunidad : </strong> {{item.Comunidad.NombreComunidad}} <br>
        <strong> Fecha de Inicio : </strong>  {{item.FechaInicio | date: 'yyyy-MM-dd'}} <br>
        <strong> Fecha de Fin :   </strong> {{item.FechaFin | date: 'yyyy-MM-dd'}} <br>
      </ion-card-content>
      
    </ion-card>
  </ion-list> -->
  

  
</ion-content>
