<ion-header>
  <ion-toolbar color="gpm-success">
    <ion-buttons slot="end">

    </ion-buttons>
    <ion-title style="text-align: center;">Nuevas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item  lines="none" class="ion-no-padding" (click)="prepararCuestionario(item)" [detail]="false" *ngFor="let item of cuestionario; let i = index">
      <ion-label >
        <ion-label color="success">{{item.detalleCuestionario}}</ion-label> 
        <h3 style="font-size: 12px; color: brown;"> 
          <ion-icon name="calendar-outline"></ion-icon>
          Fecha de publicación : {{item.FechaInicioCuestionario | date: 'yyyy-MM-dd'}}
        </h3>
        <h3 style="font-size: 14px; ">Cantón: {{item.nombreCanton}}  </h3>
        <h3 style="font-size: 14px; ">Parroquia : {{item.nombreParroquia}}</h3>
        <h3 style="font-size: 14px; ">Comunidad : {{item.nombreComunidad}}</h3>
        <h3 style="font-size: 12px; color: gray;"><ion-icon name="calendar-outline"></ion-icon> Fecha de inicio : {{item.FechaInicioCuestionario | date: 'yyyy-MM-dd'}}</h3>
        <h3 style="font-size: 12px; color: gray;"><ion-icon name="calendar-outline"></ion-icon> Fecha de fin : {{item.FechaFinCuestionario | date: 'yyyy-MM-dd'}}</h3>
      </ion-label>
      </ion-item>
</ion-content>
