<ion-header class="ion-no-border">
  <ion-toolbar color="gpm-success">
    <ion-title>{{ this.formAsignarEncuestado.get('_nombreCuestionario').value | uppercase}} : </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/cuestionarios-asignados"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <fieldset>
      <legend><ion-label color="success"> A. DATOS GENERALES</ion-label></legend>
    <ion-grid >
      <ion-row>
        <ion-col size="3"><strong> Provincia: </strong>{{ formAsignarEncuestado.get('_provincia').value }} </ion-col>
        <ion-col size="3"><strong> Cantón:    </strong>{{ formAsignarEncuestado.get('_canton').value }} </ion-col>
        <ion-col size="3"><strong> Parroquia: </strong>{{ formAsignarEncuestado.get('_parroquia').value }} </ion-col>
        <ion-col size="3"><strong> Comunidad: </strong>{{ formAsignarEncuestado.get('_comunidad').value }} </ion-col>
      </ion-row>
      <ion-row class="align-vertical">
        <ion-col size="2"><strong> Coordenadas UTM </strong></ion-col>
        <ion-col size="3" class="align-vertical">
            <b style="float: left;" >X</b>
            <ion-input 
            type="number" 
            class="styletxt" 
            color="primary" 
            autofocus="true" 
            autocomplete="off" 
            min="6">
             </ion-input>
        </ion-col>
        <ion-col size="3" class="align-vertical">
          <b style="float: left;" >Y</b>
          <ion-input 
          type="number" 
          class="styletxt" 
          color="primary" 
          autofocus="true" 
          autocomplete="off" 
          min="7">
           </ion-input>
      </ion-col>
      <ion-col size="4">
        <b style="float: right; background-color:#F5F2F2  ; margin: 5px;" >Fecha: Día: {{fecha|date:'dd'}} Mes: {{fecha|date:'MM'}} Año: {{fecha|date:'yyyy'}}</b>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" class="align-vertical"> 
          <strong> Nombre del habitante: </strong>
          <ion-input 
          type="text" 
          class="styletxt" 
          color="primary" 
          autofocus="true" 
          autocomplete="off">
           </ion-input>
        </ion-col>
        <ion-col size="4" class="align-vertical">
          <strong> Teléfono: </strong>
          <ion-input 
          type="number" 
          class="styletxt" 
          color="primary" 
          autofocus="true" 
          autocomplete="off">
           </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="align-vertical"> 
          <strong> Responsable: </strong>
          <ion-input 
          type="text" 
          class="styletxt" 
          color="primary" 
          autofocus="true" 
          autocomplete="off"
          value="{{responsableCuestionario}}" 
          disabled="disabled">
           </ion-input>
        </ion-col>
        <ion-col size="3" class="align-vertical">
          <strong> Área: </strong>
          <ion-input 
          type="text" 
          class="styletxt" 
          color="primary" 
          autofocus="true" 
          autocomplete="off">
           </ion-input>
        </ion-col>
        <ion-col size="3" class="align-vertical">
          <strong> Teléfono: </strong>
          <ion-input 
          type="number" 
          class="styletxt" 
          color="primary" 
          autofocus="true" 
          autocomplete="off"
          value="{{responsableTelefono}}"
          disabled="disabled">
           </ion-input>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="_ocultar">
        <ion-col size="12">
          <div class="centrar">
            <ion-button fill="outline" color="gpm-success" shape="round" (click)="_comenzarencuesta()">
              <ion-label slot="start">Comenzar Encuesta</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="!_ocultar">
        <ion-col size="12">
          <div class="centrar">
            <ion-button fill="outline" color="gpm-success" shape="round" (click)="_finalizarencuesta()">
              <ion-label slot="start">Finalizar Encuesta</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </fieldset>
  </ion-toolbar>
</ion-header>
<ion-content > 
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let item of listComponents" style="width: auto; height: 60px; border: 1px solid #f8f8f8">
      <ion-col (click)="mostarPreguntas(item)">
        <ion-chip color="success">
          <ion-label>{{item.Descripcion |uppercase}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-slide>
  </ion-slides>


    <div *ngFor="let _item_pregunta of listaPreguntas2" style="position: relative; clear: both;">
     
      <!-- <ion-item button (click)="_pregunta_consultarPreguntasSeleccion(_item_pregunta.IdPreguntaEncriptado)" *ngIf="_item_pregunta.IdPreguntaEncajonada=='Independiente'">
       
        <ion-label>{{_item_pregunta.Descripcion}}</ion-label>
        <ion-buttons  slot="end">
          <ion-button color="gpm-success"  type="submit"> 
            <ion-icon shape="round" slot="icon-only" [name]="_icon"></ion-icon>
          </ion-button>
        </ion-buttons>
        
    
      </ion-item>
      <ion-list [hidden]="_ver" class="animated jello " style="width: 100% !important;">
        <ion-radio-group #RadioGroupOpciones>
      
          <ion-item lines="none" *ngFor="let _item_opcion of _listaOpcionesPreguntaSeleccion">
            <ion-label>{{_item_opcion.Descripcion}}</ion-label>
            <ion-radio (click)="_guardarOpcion(_item_opcion.IdOpcionPreguntaSeleccionEncriptado)" slot="start" [value]="_item_opcion.IdOpcionPreguntaSeleccionEncriptado"></ion-radio>
          </ion-item>
          
        </ion-radio-group>
      </ion-list> -->
      <app-seleccion-unica  
        [ItemPregunta]="_item_pregunta"
        [Identificador]="_item_pregunta.TipoPregunta.Identificador"
        [listaPreguntas2]="listaPreguntas2"
        [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
        *ngIf="_item_pregunta.TipoPregunta.Identificador == 2">
      </app-seleccion-unica>
      <app-abierta  
        [ItemPregunta]="_item_pregunta"
        [Identificador]="_item_pregunta.TipoPregunta.Identificador"
        [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
        *ngIf="_item_pregunta.TipoPregunta.Identificador == 1"> 
      </app-abierta>

      <app-seleccion-multiple
        [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
        [ItemPregunta]="_item_pregunta"
        [Identificador]="_item_pregunta.TipoPregunta.Identificador"
         *ngIf="_item_pregunta.TipoPregunta.Identificador == 3"></app-seleccion-multiple>
      
      <app-matriz
         [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
         [ItemPregunta]="_item_pregunta"
         [Identificador]="_item_pregunta.TipoPregunta.Identificador"
         *ngIf="_item_pregunta.TipoPregunta.Identificador == 4"></app-matriz>

                            <!-- <app-abierta  [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
        [ItemPregunta]="_item_pregunta"
        [ListaRespuestas] = "listaRespuestas"
        *ngIf="_item_pregunta.Pregunta.TipoPregunta.Identificador == 1"> </app-abierta>

      <app-seleccion-unica  [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
                            [ItemPregunta]="_item_pregunta"
                            [ListaRespuestas] = "listaRespuestas"
                            *ngIf="_item_pregunta.Pregunta.TipoPregunta.Identificador == 2"></app-seleccion-unica>

      <app-seleccion-multiple [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
                              [ItemPregunta]="_item_pregunta"
                              [ListaRespuestas] = "listaRespuestas"
                              *ngIf="_item_pregunta.Pregunta.TipoPregunta.Identificador == 3"></app-seleccion-multiple>

      <app-matriz [IdCabeceraRespuestaEncriptado]="formCabeceraRespuesta.get('_idCabeceraRespuestaEncriptado').value"
                  [ItemPregunta]="_item_pregunta"
                  [ListaRespuestas] = "listaRespuestas"
                  *ngIf="_item_pregunta.Pregunta.TipoPregunta.Identificador == 4"></app-matriz> -->


    </div>



</ion-content>
