<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="_validarUsuario()" [disabled]="esValido" class="ion-no-border">
         <span style="color:white !important; font-size: 14px;;">Siguiente</span> 
      </ion-button> 
   </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true">
  <div class="container">
    <br><br><br><br>
    <ion-grid >
      <ion-row class="ion-no-padding">
        <ion-col >
            <ion-item class="closed">
              <ion-label position="floating" color="danger">INTRODUCE TU CORREO ELECTRÓNICO</ion-label>
              <ion-input  clearInput="true" (ionChange)="esEmailValido($event)" [(ngModel)]="correo" type="email"></ion-input>
            </ion-item>
            <br><br><br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
