<ion-content class="ion-no-padding">
  <div class="container ion-no-padding">
    <img src="../../../assets/img/logo.png" alt="">
    <br><br><br><br>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col >
          <form [formGroup]="formValidarCorreo" (ngSubmit)="_validarformValidarCorreo()">
            <ion-item class="ion-padding-end">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-input value="ricardo@gmail.com"required formControlName="_usuario" type="email" placeholder="correo"></ion-input>
            </ion-item>
            <br><br><br>
             <ion-button expand="full"  color="success" type="submit" [disabled]="formValidarCorreo.invalid">
              Siguiente <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
